<%- if controller_name != 'sessions' %>
  <%= link_to new_session_path(resource_name) do %>
    <i class="fa-solid fa-right-to-bracket"></i> Se connecter
  <% end %>
  <span class="link-separator"></span>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to new_registration_path(resource_name) do %>
    <i class="fa-solid fa-user-plus"></i> Créer un compte
  <% end %>
  <span class="link-separator"></span>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to new_password_path(resource_name) do %>
    <i class="fa-solid fa-key"></i> Mot de passe oublié ?
  <% end %>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <span class="link-separator"></span>
  <%= link_to new_confirmation_path(resource_name) do %>
    <i class="fa-solid fa-envelope"></i> Renvoyer la confirmation
  <% end %>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <span class="link-separator"></span>
  <%= link_to new_unlock_path(resource_name) do %>
    <i class="fa-solid fa-unlock"></i> Déverrouiller le compte
  <% end %>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <span class="link-separator"></span>
    <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false }, class: 'devise-btn' do %>
      <i class="fa-brands fa-<%= provider %>"></i> Connexion avec <%= OmniAuth::Utils.camelize(provider) %>
    <% end %>
  <% end %>
<% end %>
