<div class="frame-container" style="position: relative; width: 100%; height: 100vh; overflow-y: auto; overflow-x: hidden;">
  <div class="pet-container mt-3">
    <h2 class="text-success text-center mb-4">Liste des Familiers</h2>

    <%# Liste des Humanoïdes %>
    <div class="pet-category-box mb-5">
      <h3 class="text-center text-info">Humanoïdes</h3>
      <ul class="list-group">
        <% @humanoids.each do |pet| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong></strong> <%= pet.name %> | 
              <strong></strong> <%= pet.race %> | 
              <strong>PV :</strong> <%= "#{pet.hp_current} / #{pet.hp_max}" %> | 
              <strong> <%= User.find_by(pet_id: pet.id)&.username %> </strong>
            </div>
            <div>
              <%= link_to "Voir", pet_path(pet), class: "btn btn-outline-primary btn-sm" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <%# Liste des Animaux %>
    <div class="pet-category-box mb-5">
      <h3 class="text-center text-info">Animaux</h3>
      <ul class="list-group">
        <% @animals.each do |pet| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong></strong> <%= pet.name %> | 
              <strong></strong> <%= pet.race %> | 
              <strong>PV :</strong> <%= "#{pet.hp_current} / #{pet.hp_max}" %> | 
              <strong> <%= User.find_by(pet_id: pet.id)&.username %> </strong>
            </div>
            <div>
              <%= link_to "Voir", pet_path(pet), class: "btn btn-outline-primary btn-sm" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <%# Liste des Droïdes %>
    <div class="pet-category-box mb-5">
      <h3 class="text-center text-info">Droïdes</h3>
      <ul class="list-group">
        <% @droids.each do |pet| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <strong></strong> <%= pet.name %> | 
              <strong></strong> <%= pet.race %> | 
              <strong>PV :</strong> <%= "#{pet.hp_current} / #{pet.hp_max}" %> | 
              <strong> <%= User.find_by(pet_id: pet.id)&.username %> </strong>
            </div>
            <div>
              <%= link_to "Voir", pet_path(pet), class: "btn btn-outline-primary btn-sm" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <%# Bouton pour créer un nouveau familier %>
    <div class="justify-content-center d-flex mt-2">
      <div class="text-center mx-2">
        <%= link_to "Créer un Familier", new_pet_path, class: "btn btn-success btn-lg" %>
      </div>
      <div class="text-center mx-2">
        <%= link_to graveyard_pets_path, class: "btn btn-dark btn-lg", title: "Voir le cimetière des familiers" do %>
          <i class="fa-solid fa-skull-crossbones"></i>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to "Retour", current_user.group.name == "MJ" ? mj_dashboard_path : root_path, class: "btn btn-outline-secondary go-back" %>
</div>