<div class="frame-container" style="position: relative; width: 100%; height: 100vh; overflow-y: auto; overflow-x: hidden;">
  <!-- Username -->
  <p class="username-display mt-1 text-primary fw-bold">
    <%= current_user.username.capitalize %>
  </p>

  <!-- Formulaire de création -->
  <div class="content-container">
    <h2 class="text-success text-center">Créer un Familier</h2>
    <%= simple_form_for @pet do |f| %>
      <div class="mb-3">
        <%= f.input :name, label: "Nom du Familier" %>
      </div>
      <div class="mb-3">
        <%= f.input :race, label: "Race" %>
      </div>
      <div class="mb-3">
        <%= f.input :hp_max, label: "Points de Vie Maximum" %>
      </div>
      <div class="mb-3">
        <%= f.input :hp_current, label: "Points de Vie Actuels", input_html: { value: @pet.hp_max || '' } %>
      </div>
      <div class="mb-3">
        <%= f.input :res_corp, label: "Résistance Corporelle" %>
      </div>
      <div class="mb-3">
        <%= f.input :res_corp_bonus, label: "Bonus de Résistance Corporelle" %>
      </div>
      <div class="mb-3">
        <%= f.input :speed, label: "Vitesse" %>
      </div>
      <div class="mb-3">
        <%= f.input :damage_1, label: "Dégâts 1" %>
      </div>
      <div class="mb-3">
        <%= f.input :damage_2, label: "Dégâts 2" %>
      </div>
      <div class="mb-3">
        <%= f.input :accuracy, label: "Précision" %>
      </div>
      <div class="mb-3">
        <%= f.input :dodge, label: "Esquive" %>
      </div>
      <div class="mb-3">
        <%= f.input :weapon_1, label: "Arme 1" %>
      </div>
      <div class="mb-3">
        <%= f.input :weapon_2, label: "Arme 2" %>
      </div>
      <div class="mt-3">
        <%= f.submit "Créer", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

  <%= link_to "Retour", pets_path, class: "btn btn-outline-success go-back" %>
</div>