<div class="frame-container" style="position: relative; width: 100%; height: 100vh;">
  <div class="container mt-4" style="max-width: 600px;">
    <h2 class="text-center" style="color: white;">Fixer PV/Boucliers des Joueurs</h2>

    <% @users.each do |user| %>
      <div class="d-flex align-items-center justify-content-between mb-2" style="line-height: 1;">
        <p class="mb-0" style="font-size: 0.9rem;">
          <%= user.username %> - PV Max actuels : <%= user.hp_max %>, 
          Bouclier Énergie : <%= user.shield_max %>, 
          Bouclier Échani : <%= user.echani_shield_max %>
        </p>

        <%= form_with url: fixer_pv_max_path, method: :post, local: true do %>
          <div class="d-flex align-items-center">
            <%= number_field_tag "pv_max[#{user.id}]", user.hp_max, class: "form-control form-control-sm me-2", min: 1, style: "width: 70px;" %>
            <%= number_field_tag "shield_max[#{user.id}]", user.shield_max, class: "form-control form-control-sm me-2", min: 0, style: "width: 70px;" %>
            <%= number_field_tag "echani_shield_max[#{user.id}]", user.echani_shield_max, class: "form-control form-control-sm me-2", min: 0, style: "width: 70px;" %>
            <%= submit_tag "Go", class: "btn btn-outline-success btn-sm ms-1 p-0" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="text-center mt-4">
      <%= link_to "Retour", current_user.group.name == "MJ" ? mj_dashboard_path : root_path, class: "btn btn-outline-success" %>
    </div>
  </div>
</div>
