<!-- Modale pour sélectionner un implant -->
<div class="modal fade" id="equipImplantModal" tabindex="-1" aria-labelledby="equipImplantModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="equipImplantModalLabel">Sélectionner un Implant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body"
           data-controller="implant-patch-injection"
           data-implant-patch-injection-user-id-value="<%= current_user.id %>">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Description</th>
              <th>Quantité</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% user_implants.each do |implant| %>
              <tr>
                <td><%= implant.inventory_object.name %></td>
                <td><%= implant.inventory_object.description %></td>
                <td><%= implant.quantity %></td>
                <td>
                  <% if current_user.active_implant == implant.inventory_object.id %>
                    <span>Équipé</span>
                  <% else %>
                    <button type="button"
                            class="btn btn-outline-primary btn-sm"
                            data-action="implant-patch-injection#equipImplant"
                            data-implant-id="<%= implant.inventory_object.id %>">
                      Équiper
                    </button>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>