<div class="frame-container" style="position: relative; width: 100%; height: 100vh; overflow-y: auto; overflow-x: hidden;">
  <div class="pet-container mt-3">
    <h1 class="text-center">Objets possédés dans l’appli</h1>

    <table class="table table-striped table-hover mt-4">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Quantité</th>
          <th>Prix</th>
          <th>Rareté</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @inventory_items.each do |item| %>
          <% next if item.quantity <= 0 %> <!-- Ignorer les objets avec quantité <= 0 -->
          <tr>
            <!-- Ligne principale avec les informations de l'objet -->
            <td><%= item.inventory_object.name %></td>
            <td><%= item.quantity %></td>
            <td><%= item.inventory_object.price %></td>
            <td><%= item.inventory_object.rarity %></td>
            <td><%= item.inventory_object.description %></td>
            <td>
              <!-- Ligne avec les boutons -->
              <%= button_tag "Vendre", 
                  type: "button", 
                  class: "btn btn-outline-danger btn-sm", 
                  data: {
                    bs_toggle: "modal",
                    bs_target: "#genericModal",
                    modal_title: "Vendre cet objet ?", 
                    modal_message: "Voulez-vous vraiment vendre 1 #{item.inventory_object.name} pour #{item.inventory_object.price / 5} crédits ?", 
                    modal_confirm_button: "Vendre",
                    modal_confirm_action: "sell#confirm", # Action de vente
                    delete_path: sell_item_user_path(current_user, item_id: item.id, quantity: 1)
                  } %>

              <%= form_with url: give_item_user_path(current_user), method: :post, local: true, class: "d-inline" do |f| %>
                <%= hidden_field_tag :item_id, item.id %>
                <%= select_tag :recipient_id, options_from_collection_for_select(User.where(group_id: Group.find_by(name: "PJ")), :id, :username, prompt: "Choisir un joueur"), class: "form-select form-select-sm d-inline w-auto" %>
                <%= number_field_tag :quantity, 1, class: "form-control form-control-sm d-inline w-auto", min: 1, max: item.quantity %>
                <%= f.submit "Donner", class: "btn btn-outline-success btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to "Retour", current_user.group.name == "MJ" ? mj_dashboard_path : root_path, class: "btn btn-outline-secondary go-back" %>
</div>