<div class="frame-container" style="position: relative; width: 100%; height: 100vh; overflow-y: auto; overflow-x: hidden;" data-controller="modal craft">
  <div class="pet-container m-5">
    <h1 class="text-center">Craft</h1>

    <div class="accordion" id="craftAccordion">
      <% @craftables.group_by(&:category).each_with_index do |(category, items), index| %>
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading-<%= index %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>">
              <%= category.capitalize %>
            </button>
          </h2>
          <div id="collapse-<%= index %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= index %>" data-bs-parent="#craftAccordion">
            <div class="accordion-body">
              <% items.each do |item| %>
                <% user_item = current_user.user_inventory_objects.find_by(inventory_object: item) %>
                <% user_quantity = user_item&.quantity || 0 %>
                <div class="item-box mb-4" data-craft-target="item" data-item-id="<%= item.id %>" data-item-quantity="<%= user_quantity %>">
                  <div class="d-flex justify-content-between align-items-center">
                    <p><strong><%= "#{item.name}" %> (<span data-craft-target="objectQuantity"><%= user_quantity %></span> possédés)</strong></p>
                    <!-- Bouton pour Transférer -->
                    <%= button_tag "Donner",
                      type: "button",
                      class: "btn btn-outline-success btn-sm p-0",
                      data: {
                        bs_toggle: "modal",
                        bs_target: "#genericModal",
                        modal_title: "Transférer objet",
                        modal_message: "Voulez-vous donner cet objet à un équipier ?",
                        modal_confirm_button: "Confirmer",
                        modal_confirm_action: "craft#transfer",
                        item_id: item.id
                      } %>
                  </div>
                  <p><%= item.description %></p>
                  <p>Difficulté : <%= CRAFT_RECIPES[item.name][:difficulty] %></p>
                  <ul>
                    <% CRAFT_RECIPES[item.name][:ingredients]&.each do |ingredient_name, quantity| %>
                      <% ingredient_quantity = current_user.user_inventory_objects.joins(:inventory_object)
                                                                    .find_by(inventory_objects: { name: ingredient_name })&.quantity || 0 %>
                      <% insufficient = ingredient_quantity < quantity %>
                      <li style="color: <%= insufficient ? 'red' : 'green' %>;"
                          data-craft-target="ingredient"
                          data-ingredient-name="<%= ingredient_name %>"
                          data-ingredient-required-quantity="<%= quantity %>"
                          data-ingredient-possessed-quantity="<%= ingredient_quantity %>">
                        <%= "#{quantity} x #{ingredient_name}" %> 
                        (<span data-craft-target="ingredientQuantity"><%= ingredient_quantity %></span> possédés)
                      </li>
                    <% end %>
                  </ul>

                  <!-- Bouton pour Crafter -->
                  <%= button_tag "Crafter",
                    type: "button",
                    class: "btn btn-primary m-2",
                    data: {
                      action: "modal#attemptCraft",
                      item_id: item.id,
                      difficulty: CRAFT_RECIPES[item.name][:difficulty],
                      category: item.category,
                      craftTarget: "craftButton"
                    } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= link_to "Retour", science_path, class: "btn btn-outline-secondary go-back mt-3" %>
</div>