<h1 class="container text-center mt-4">Tableau de Bord Génétique</h1>

<div class="d-flex flex-column justify-content-center align-items-center mt-4">
  <img src="<%= asset_path('genetiqueillus2.png') %>" alt="Génétique" class="img-fluid mb-4" style="max-width: 40vw;">
  <%= link_to "🔬 Labo d'études génétiques", labo_genetique_path, class: "btn btn-success m-2" %>
  <%= link_to "🧬 Cultiver un embryon", cultiver_embryon_path, class: "btn btn-success m-2" %>
  <%= link_to "🧬 Appliquer les traits", appliquer_traits_path, class: "btn btn-success m-2" %>
  <%= link_to "🧬 Cuves de gestation", gestation_path, class: "btn btn-success m-2" %>
  <%= link_to "📋 Statistiques", genetique_stats_path, class: "btn btn-success m-2" %>
</div>

<!-- Conteneur pour afficher le contenu dynamique -->
<div id="genetique-content" class="mt-4"></div>