<div class="frame-container" style="position: relative; width: 100%; height: 100vh;">
  <!-- Username -->
  <p class="username-display mt-1 text-primary fw-bold">
    <%= current_user.username.capitalize %>
  </p>

  <!-- Cadre principal SVG -->
  <img src="<%= asset_path('cadre2.svg') %>" alt="Cadre" class="ui-frame">

  <!-- Infos Race/Classe -->
  <div class= "race-classe">
    <p><%= current_user.race %> <%= current_user.class_name %></p>
  </div>

  <!-- Barre du haut à droite -->
  <img src="<%= asset_path('top-bar.svg') %>" alt="Top Bar" class="ui-top-bar">

  <!-- Barre du bas à gauche -->
  <img src="<%= asset_path('bottom-bar.svg') %>" alt="Bottom Bar" class="ui-bottom-bar">

  <!-- Élément à gauche du screen -->
  <img src="<%= asset_path('function.svg') %>" alt="Function UI" class="ui-function">

  <!-- Élément à droite du screen -->
  <div class="shield-icon"
     data-controller="shield"
     data-action="click->shield#toggle"
     data-user-id="<%= current_user.id %>"
     data-shield-state="<%= current_user.shield_state %>">
    <i class="fa-solid fa-shield" data-shield-target="icon"></i>
    <p class="mt-1">Bouclier <%= current_user.shield_current %> / <%= current_user.shield_max %></p>
    <audio id="shield-sound" src="<%= asset_path('shield.mp3') %>" preload="auto"></audio>
  </div>

  <!-- Conteneur principal des crédits -->
  <div class="credits-container mt-1">
    <img src="<%= asset_path('screen.svg') %>" alt="Screen Background" class="screen-background">
    <p class="credits-text">Crédits : <%= current_user.credits %></p>
    <p class="pv-text"> PV : <%= current_user.hp_current %> / <%= current_user.hp_max %></p>
    <!-- Buttons for increment and decrement
    <div class="input-group custom-input-group" data-controller="hp" data-user-id="<%= current_user.id %>" data-max-hp="<%= current_user.hp_max %>">
      <%= button_tag "-", class: "btn btn-outline-secondary", data: { action: "click->hp#decrement" } %>
      <%= button_tag "+", class: "btn btn-outline-secondary", data: { action: "click->hp#increment" } %>
    </div> -->
  </div>

  <!-- Boutons d'action -->
  <%= link_to "Transférer des crédits", new_transaction_path, class: "btn btn-outline-success transfer-btn" %>
  <%= link_to "Holonews", holonews_path, class: "btn btn-outline-success message-btn" %>
</div>
