<% if user_signed_in? %>
  <%= turbo_stream_from "xp_updates_#{current_user.id}" %>
  <%= turbo_stream_from "xp_notifications_#{current_user.id}" %>
  <%= turbo_stream_from "credits_updates_#{current_user.id}" %>
  <%= turbo_stream_from "hp_updates_#{current_user.id}" %>
  <%= turbo_stream_from "status_updates_#{current_user.id}" %>
  <%= turbo_stream_from "shields_updates_#{current_user.id}" %>
  <%= turbo_stream_from "energy_shields_updates_#{current_user.id}" %>
  <%= turbo_stream_from "echani_shields_updates_#{current_user.id}" %>
<% end %>

<div class="frame-container" style="position: relative; width: 100%; height: 100vh;">

  <!-- Username -->
  <p class="username-display mt-1 text-primary fw-bold">
    <%= current_user.username.capitalize %>
  </p>

  <!-- Cadre principal SVG -->
  <img src="<%= asset_path('cadre2.svg') %>" alt="Cadre" class="ui-frame">

  <!-- Infos Race/Classe -->
  <div class= "race">
    <p><%= current_user.race.name if current_user.race %></p>
  </div>
  <div class= "classe">
    <p><%= current_user.classe_perso.name if current_user.classe_perso %></p>
  </div>

  <!-- Barre du haut à droite -->
  <img src="<%= asset_path('top-bar.svg') %>" alt="Top Bar" class="ui-top-bar">

  <!-- Élément à gauche du screen -->
  <img src="<%= asset_path('function.svg') %>" alt="Function UI" class="ui-function">

  <!-- Bouclier d'énergie -->
  <div class="d-flex" data-controller="shield-recharge" 
      data-user-id="<%= current_user.id %>"
      data-shield-max="<%= current_user.shield_max %>"
      data-shield-current="<%= current_user.shield_current %>"
      data-credits="<%= current_user.credits %>">

    <!-- Bouclier d'énergie -->
    <div class="shield">
      <div class="shield-icon"
          data-controller="shield"
          data-action="click->shield#toggle"
          data-user-id="<%= current_user.id %>"
          data-shield-type="energy"
          data-shield-state="<%= current_user.shield_state %>">
        <i class="fa-solid fa-shield" data-shield-target="icon"></i>
        <turbo-frame id="user_<%= current_user.id %>_energy_shield_frame">
          <p class="mt-1 mb-0" data-shield-target="shieldCurrent">
            Bouclier d'énergie <%= current_user.shield_current %> / <%= current_user.shield_max %>
          </p>
        </turbo-frame>
        <audio id="shield-sound" src="<%= asset_path('shield.mp3') %>" preload="auto"></audio>
      </div>

      <!-- Bouton de recharge -->
      <button class="btn btn-outline-primary btn-sm" data-action="click->shield-recharge#openRechargePopup">Rech.</button>
    </div>

    <!-- Bouclier echani -->
    <div class="echani-shield">
      <div class="echani-shield-icon"
          data-controller="shield"
          data-action="click->shield#toggle"
          data-user-id="<%= current_user.id %>"
          data-shield-type="echani"
          data-shield-state="<%= current_user.echani_shield_state %>">
        <i class="fa-solid fa-shield" data-shield-target="icon"></i>
        <turbo-frame id="user_<%= current_user.id %>_echani_shield_frame">
          <p class="mt-1 mb-0" data-shield-target="shieldCurrent">
            Bouclier echani <%= current_user.echani_shield_current %> / <%= current_user.echani_shield_max %>
          </p>
        </turbo-frame>
        <audio id="shield-sound" src="<%= asset_path('shield.mp3') %>" preload="auto"></audio>
      </div>

      <!-- Bouton de recharge -->
      <button class="btn btn-outline-primary btn-sm" data-action="click->shield-recharge#openRechargePopup">Rech.</button>
    </div>

    <!-- Pop-up de confirmation de recharge -->
    <div class="modal fade" id="rechargeModal" tabindex="-1" aria-labelledby="rechargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="rechargeModalLabel">Confirmation de recharge</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p data-shield-recharge-target="popupMessage">Recharger pour 0 Crédits ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
            <button type="button" class="btn btn-primary" data-action="click->shield-recharge#confirmRecharge" data-bs-dismiss="modal">Oui</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    <%#= render "shared/recharge_modal" %>

  <!-- CENTRAL CONTAINER -->
  <%= link_to new_transaction_path do %>
    <div class="credits-container mt-1" data-controller="credits" data-user-id="<%= current_user.id %>" data-max-hp="<%= current_user.hp_max %>">
      <%= turbo_stream_from "notifications_#{current_user.id}" %>
      <turbo-frame id="notification_frame"></turbo-frame>
      <img src="<%= asset_path('screen.svg') %>" alt="Screen Background" class="screen-background">
      <!-- Credits -->
      <turbo-frame id="user_<%= current_user.id %>_credits_frame">
        <%= render partial: "pages/credits", locals: { user: current_user } %>
      </turbo-frame>
      <!-- XP Container -->
      <div class="xp-container d-flex" data-controller="xp-spend" data-user-id="<%= current_user.id %>">
        <turbo-frame id="user_<%= current_user.id %>_xp_frame">
          <p class="xp-text" id="user_<%= current_user.id %>_xp" data-xp-spend-target="xp">
            XP : <%= current_user.xp %>
          </p>
        </turbo-frame>
        <%#= button_tag "Dépenser 1 XP", class: "btn btn-outline-primary btn-sm", data: { action: "xp-spend#decrement" } %>
        <div id="xp_notifications"></div>
      </div>
    </div>
  <% end %>

  <!-- Statut -->
  <turbo-frame id="user_<%= current_user.id %>_status_frame">
    <div class="status-container">
      <% current_user.statuses.each do |status| %>
        <p style="color: <%= status.color %>;"><%= status.name %></p>
      <% end %>
    </div>
  </turbo-frame>
  <!-- Barre de vie -->
  <turbo-frame id="user_<%= current_user.id %>_hp_frame">
    <%= link_to health_management_user_path(current_user), data: { turbo_frame: "_top" } do %>
      <div class="hp-bar-container" data-controller="hp-bar" data-max-hp="<%= current_user.hp_max %>" data-current-hp="<%= current_user.hp_current %>">
        <!-- Image de fond SVG externe -->
        <img src="<%= asset_path('bottom-bar.svg') %>" alt="Fond de la barre de vie" class="hp-bar-background">
        <!-- Barre de vie rouge en SVG brut -->
        <svg class="hp-bar-svg" viewBox="0 0 1001.46 140.26">
          <defs>
            <clipPath id="hp-clip">
              <rect x="0" y="0" data-hp-bar-target="hpFill" width="<%= (1001.46 * (current_user.hp_current.to_f / current_user.hp_max)).round %>" height="140.26" />
            </clipPath>
          </defs>
          <g id="hp-bar-layer" clip-path="url(#hp-clip)">
            <path 
              class="hp-fill" 
              d="M955.63,43.09l-10.4,7.77c-3.19,2.38-7.42,3.69-11.93,3.69h-161.43c-6.85,0-12.96-3.05-15.58-7.78-.29-.53-.52-1.06-.72-1.6l-7.61,5.69c-3.19,2.38-7.42,3.69-11.93,3.69h-161.43c-6.85,0-12.97-3.05-15.59-7.78-.2-.36-.36-.72-.52-1.08l-6.92,5.17c-3.19,2.38-7.42,3.69-11.93,3.69h-81.14c-6.85,0-12.97-3.05-15.59-7.78-.98-1.76-1.39-3.62-1.27-5.44-1.96-.58-3.77-1.44-5.34-2.55l-33.66-23.79h-207.95l-73.2,54.7c-7.9,5.9-18.4,9.15-29.58,9.15h-9.04l17.28,12.91c5.48,4.1,7.11,10.21,4.14,15.56-2.53,4.57-7.95,7.76-14.31,8.6l12.5,9.34h100.91l4.99-3.73c6.74-5.04,15.71-7.82,25.25-7.82h71.14c2.35,0,4.66-.71,6.32-1.96l13.03-9.74c6.75-5.04,15.71-7.81,25.25-7.81h321.46c1.21-.05,2.32-.08,3.36-.08h272.44c19.16,0,34.74-11.65,34.74-25.96,0-12-10.95-22.11-25.77-25.08l.03.02Z" 
              fill="#dd2f2f"
            />
          </g>
        </svg>
        <!-- Texte des PV par-dessus la barre -->
        <div class="hp-text-container">
          <div class="hp-text" data-hp-bar-target="hpText">
            PV : <span id="hp-value"><%= current_user.hp_current %></span> / <%= current_user.hp_max %>
          </div>
        </div>
      </div>
    <% end %>
  </turbo-frame>

  <!-- Boutons d'action -->
  <%= link_to "Réglages", settings_user_path(current_user), class: "btn btn-outline-success transfer-btn" %>
  <%= link_to "Holonews", holonews_path, class: "btn btn-outline-success holonews-btn" %>
  <%= button_to "✖", destroy_user_session_path, method: :delete, data: { turbo: false, confirm: "Se déconnecter ?" },
    style: "position: absolute; top: 10px; right: 70px; color: #333; font-size: 10px; text-decoration: none; z-index: 3;",
    onmouseover: "this.style.color='#ff0000'", onmouseout: "this.style.color='#333'" %>
</div>
