<tr id="ship_object_<%= object.id %>">
  <td><%= object.name %></td>
  <td>
    <div class="d-flex align-items-center" data-controller="increment">
      <button class="btn btn-sm btn-outline-warning me-2" data-action="click->increment#decrement">-</button>
      <input type="number" 
             value="<%= object.quantity %>" 
             class="form-control form-control-sm text-center" 
             style="width: 60px;"
             data-increment-target="input"
             data-ship-id="<%= ship.id %>"
             data-object-id="<%= object.id %>">
      <button class="btn btn-sm btn-outline-success ms-2" data-action="click->increment#increment">+</button>
    </div>
  </td>
  <td><%= object.description %></td>
  <td>
    <button class="btn btn-outline-danger btn-sm" 
            data-action="click->ship-inventory#removeItem"
            data-id="<%= object.id %>"
            data-ship-id="<%= ship.id %>">
      Supprimer
    </button>
  </td>
</tr> 