<div class="frame-container" style="position: relative; width: 100%; height: 100vh;">
  <!-- Username -->
  <p class="username-display mt-1 text-primary fw-bold">
    <%= current_user.username.capitalize %>
  </p>
  <!-- Cadre principal SVG -->
  <img src="<%= asset_path('cadre2.svg') %>" alt="Cadre" class="ui-frame">

  <!-- Cadre central avec l'écran de transfert -->
  <div class="credits-container text-center m-2">
    <!-- Affichage des crédits -->
    <div class="current-credits-container text-center mb-3">
      <p class="text-info fw-bold" style="font-size: 1.2rem;">
        Crédits : <%= current_user.credits %> 💳
      </p>
    </div>
    <!-- Transfert des crédits -->
    <%= simple_form_for @transaction do |f| %>
      <div class="form-group text-success">
        <%= f.input :receiver_username, label: "Destinataire", as: :select, collection: User.where.not(id: current_user.id).order(:username).pluck(:username), include_blank: "Sélectionnez un joueur", input_html: { class: 'form-control' } %>
      </div>
      <div class="form-group text-success">
        <%= f.input :amount, label: "Montant", input_html: { class: 'form-control' } %>
      </div>
      <%= f.submit "Transférer", class: "btn btn-outline-success" %>
    <% end %>
  </div>

  <%= link_to "Retour", current_user.group.name == "MJ" ? mj_dashboard_path : root_path, class: "btn btn-outline-secondary go-back" %>
</div>