<div class="frame-container" style="position: relative; width: 100%; height: 100vh;">
  <!-- Username -->
  <p class="username-display mt-1 text-primary fw-bold">
    <%= current_user.username.titleize %>
  </p>
  <!-- Cadre principal SVG -->
  <img src="<%= asset_path('cadre2.svg') %>" alt="Cadre" class="ui-frame">

  <!-- Conteneur principal à deux colonnes -->
  <div class="content-container row" style="margin: 10vw;">
    <!-- Colonne gauche : Transferts de crédits -->
    <div class="col-12 col-sm-8">
      <div class="text-center m-2">
        <!-- Affichage des crédits -->
        <p class="text-info fw-bold" style="font-size: 1.2rem; margin-bottom: 0;">
          Crédits : <%= current_user.credits %> 💳
        </p>
        <!-- Transfert des crédits -->
        <%= simple_form_for @transaction do |f| %>
          <div class="form-group text-success">
            <%= f.input :receiver_username, label: "Destinataire", as: :select, collection: User.where.not(id: current_user.id).order(:username).pluck(:username), include_blank: "Sélectionnez un joueur", input_html: { class: 'form-control' } %>
          </div>
          <div class="form-group text-success">
            <%= f.input :amount, label: "Montant", input_html: { class: 'form-control' } %>
          </div>
          <%= f.submit "Transférer", class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>

    <!-- Colonne droite : XP -->
    <div class="col-12 col-sm-4" data-controller="xp-spend" data-user-id="<%= current_user.id %>">
      <div class="text-center m-2">
        <!-- Affichage des XP -->
        <p class="text-warning fw-bold xp" style="font-size: 1.2rem;" data-xp-spend-target="xp">
          XP : <%= current_user.xp %>
        </p>
        <!-- Bouton pour dépenser de l'XP -->
        <div>
          <%= button_tag "Dépenser 1 XP", class: "btn btn-outline-primary btn-sm", data: { action: "xp-spend#decrement" } %>
        </div>
        <%= link_to edit_notes_user_path(current_user), class: "btn btn-outline-success mt-3" do %>
          <i class="fa-regular fa-note-sticky"></i>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Boutons en bas de la page -->
  <div class="transaction-bottom-buttons d-flex">
    <!-- Gestion de l'Inventaire -->
    <%= link_to inventory_user_path(current_user), class: "btn btn-outline-success inventory-home" do %>
      <i class="fa-solid fa-briefcase mx-1 p-1"></i>
    <% end %>
    <%= link_to injections_user_path(current_user), class: "btn btn-outline-success inventory-home" do %>
      <i class="fa-solid fa-syringe mx-1 p-1"></i>
    <% end %>
    <%= link_to patch_user_path(current_user), class: "btn btn-outline-success inventory-home" do %>
      <i class="fa-regular fa-circle-down mx-1 p-1"></i>
    <% end %>
    <%= link_to implants_user_path(current_user), class: "btn btn-outline-success inventory-home" do %>
      <i class="fa-solid fa-microchip mx-1 p-1"></i>
    <% end %>
    <%= link_to sphero_user_path(current_user), class: "btn btn-outline-success inventory-home" do %>
      <i class="fa-brands fa-discord"></i>
    <% end %>
  </div>

  <%= link_to "Retour", current_user.group.name == "MJ" ? mj_dashboard_path : root_path, class: "btn btn-outline-secondary go-back" %>
</div>