<div class="content-container">
  <h2 class="audiowide-regular">Votre deck Pazaak</h2>
  <p>Sélectionnez exactement 10 cartes spéciales à utiliser en partie.</p>

  <%= form_with url: pazaak_deck_path, method: :patch, data: { controller: 'deck' } do %>
    <div class="deck-grid">
      <% @owned_cards.each do |uio| %>
        <% card = uio.inventory_object %>
        <% name = card.name.to_s %>
        <% qty = uio.quantity.to_i %>
        <% selected_count = @selected_counts[name].to_i %>
        <% kind = Pazaak::CardEffect.css_kind(name) %>
        <% qty.times do |i| %>
          <% already_checked = (i < selected_count) %>
          <label class="card card-special <%= kind %>" style="cursor: pointer;">
            <%= check_box_tag 'deck[]', name, already_checked, data: { deck_target: 'checkbox' } %>
            <span class="card-label"><%= name %></span>
          </label>
        <% end %>
      <% end %>
    </div>

    <div class="mt-3 d-flex align-items-center gap-3">
      <span data-deck-target="counter">Sélection: <%= @selected.size %>/10</span>
      <%= submit_tag 'Sauvegarder', class: 'btn btn-outline-success', data: { deck_target: 'submit' } %>
      <%= link_to 'Retour', pazaak_menu_path, class: 'btn btn-outline-light' %>
    </div>
  <% end %>
</div>


