<!DOCTYPE html>
<html>
  <head>
    <title>SW-JDR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="screen-orientation" content="landscape">
    <meta name="orientation" content="landscape">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="manifest" href="/manifest.json">

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        if (screen.orientation && screen.orientation.lock) {
          screen.orientation.lock("landscape").catch((error) => {
            console.warn("Verrouillage de l'orientation échoué ou non supporté :", error);
          });
        }
      });
      document.addEventListener("turbo:load", () => console.log("Turbo Streams loaded"));
    </script>
  </head>

  <body>
    <%= turbo_frame_tag "group-luck-popup", class: "hidden-popup" %>
    <div id="background" class="container-fluid justify-content-center align-items-center p-0">
      <%= yield %>
    </div>
  </body>
</html>